#navbar-iframe {
	height:0;
	visibility:hidden;
	display:none
}
ul {
	list-style-type:circle
}
.section,.widget {
	margin:0
}
.post-body ol {
	padding:0 30px
}
body {
	background-color:#f9f9fb;
	color:#4a5764;
	font-family:'Roboto',Arial,Helvetica,sans-serif;
	font-size:14px;
	line-height:22px;
	text-decoration:none;
	margin:0;
	padding:0
}
iframe {
	border:none
}
a,a:link,a:visited,a:active {
	color:#008dc3;
	text-decoration:none;
	transition:all .25s linear
}
a:hover {
	color:#444;
	text-decoration:none;
	transition:all .5s ease
}
#responsive,.license-code,h2.date-header {
	display:none
}
::selection {
	background:#b3d4fc;
	text-shadow:none
}
abbr {
	text-decoration:none
}
#outer-wrapper {
	position:relative;
	width:100%;
	margin:0 auto;
	margin-top:59px;
	padding:0;
	overflow:hidden
}
#content-wrapper {
	margin:20px auto;
	padding-left:100px;
	position:relative;
	width:940px;
	max-width:100%;
	display:block;
	transition:all .4s ease-in-out
}
#main-wrapper,#error-blanter {
	width:100%;
	word-wrap:break-word;
	display:block;
	padding:0 0 15px;
	position:relative;
	margin:0 auto
}
#sidebar-css {
	width:310px;
	border-radius:5px;
	background:#fff;
	bottom:0;
	box-shadow:0 3px 4px 0 rgba(0,0,0,0.08),0 2px 7px 0 rgba(0,0,0,0.08),0 3px 2px -3px rgba(0,0,0,0.09);
	height:100%;
	top:0;
	right:0;
	display:block;
	float:right
}
.wrapper {
	width:1100px;
	max-width:100%;
	margin:0 auto
}
.breadcrumbs {
	font-size:20px;
	padding:10px;
	color:#fff;
	background:#4caf50;
	position:relative;
	margin:-15px -15px 15px;
	font-family:'Roboto',sans-serif;
	overflow:hidden;
	white-space:nowrap;
	text-overflow:ellipsis;
	border-top-left-radius:5px;
	border-top-right-radius:5px
}
.breadcrumbs a span {
	color:#fff;
	text-decoration:none;
	font-weight:700;
	padding:0 2px;
	font-size:13px
}
.breadcrumbs a {
	color:#fff;
	padding:5px 2px;
	font-size:12px
}
.breadcrumbs span {
	font-weight:700;
	font-size:13px
}
.breadcrumbs i {
	float:left;
	line-height:1.3;
	margin:0 5px
}
.quickedit {
	text-align:center
}
.displaynone {
	display:none
}
#header-wrapper {
	background:#4caf50;
	height:60px;
	width:100%;
	position:fixed;
	box-shadow:0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
	top:0;
	right:0;
	left:0;
	z-index:11;
	transition:all .5s ease-in-out
}
#searchwrapper {
	max-width:600px;
	margin:0 auto;
	position:relative
}
#header {
	float:left;
	font-size:160%;
	text-transform:uppercase;
	font-weight:300;
	line-height:57px;
	margin-top:12px
}
#header img {
	margin:0;
	padding:0;
	max-width:180px;
	max-height:70px
}
.titlewrapper {
	margin:0;
	padding:0
}
.header h1.title,.header p.title {
	font-size:17px;
	font-weight:700;
	color:#fff;
	letter-spacing:-.4px;
	margin:5px 0
}
.header .description {
	display:none
}
.header a,.header a:hover {
	color:#fff
}
.logo {
	float:left;
	font-size:160%;
	text-transform:uppercase;
	font-weight:300;
	max-height:70px
}
.logo a {
	color:#fff;
	text-decoration:none;
	margin-top:-5px
}
.logo a:hover {
	color:#fff;
	text-decoration:none
}
.logo img {
	top:0;
	left:0!important
}
#search-box {
	position:relative;
	width:90%;
	margin:5px 20px;
	float:left
}
#cse-search-box {
	border-radius:7px;
	background-color:#388e3c;
	overflow:hidden
}
#search-text {
	font-size:12px;
	color:#fff;
	border-width:0;
	background:transparent;
	font-family:'Roboto',sans-serif;
	font-weight:400;
	line-height:35px;
	padding:7px 20px 7px 10px
}
#cse-search-box .blanter-icons {
	position:absolute;
	top:16px;
	left:16px;
	font-size:18px;
	color:#fff;
	opacity:.8;
	transition:all .3s ease-in-out
}
#search-box input[type="text"] {
	width:100%;
	padding-left:45px;
	opacity:.8;
	line-height:35px;
	color:#fff;
	outline:none;
	font-family:'Roboto',sans-serif;
	font-weight:500;
	font-size:14px;
	transition:all .3s ease-in-out
}
#search-box .fa-arrow-left {
	display:none
}
#cse-search-box::selection {
	border:#388e3c solid 1px
}
#search-box input[type="text"]:active,#search-box input[type="text"]:focus,#search-box input[type="text"]:hover,#cse-search-box:hover .material-icons {
	opacity:1!important
}
a#showmenu,a#showsearch {
	text-transform:uppercase;
	color:#fff;
	font-weight:500;
	font-size:13px;
	padding:10px;
	z-index:9
}
#showmenu {
	float:right;
	padding:12px 14px!important;
	margin:5px 20px 0;
	font-size:22px!important;
	color:#fff!important;
	border-radius:100%
}
#headermenu {
	font-family:'Roboto',Arial;
	visibility:hidden;
	position:absolute;
	background:#fff;
	text-transform:none!important;
	list-style:none;
	right:45px;
	top:45px;
	padding:0;
	width:200px;
	height:1px;
	transition:all .3s ease-in-out;
	z-index:9;
	overflow:hidden;
	box-shadow:0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
	opacity:0;
	border-radius:4px;
	overflow:hidden
}
#headermenu li {
	width:100%
}
#headermenu li a {
	padding:10px 15px;
	width:100%;
	font-weight:400;
	color:#666!important;
	font-size:14px!important
}
#headermenu li a:hover {
	background:#e1e1e1
}
#headermenu.shows {
	visibility:visible;
	height:167px;
	opacity:1
}
a.blanter {
	font-size:18px;
	color:#4caf50;
	padding:9px 8px;
	width:24px;
	text-align:center;
	margin-top:9px;
	border-radius:100%;
	float:right;
	margin-right:5px;
	background:#fff;
	box-shadow:0 3px 4px 0 rgba(0,0,0,0.08),0 2px 7px 0 rgba(0,0,0,0.08),0 3px 2px -3px rgba(0,0,0,0.09)
}
.label-size-1,.label-size-2,.label-size-3,.label-size-4,.label-size-5 {
	font-size:100%;
	opacity:1
}
.label-size {
	background:#fff;
	display:block;
	float:left;
	margin:0 4px 4px 0;
	color:#999;
	font-size:11px;
	line-height:1.2
}
.label-size a,.label-size span {
	display:inline-block;
	color:#666;
	padding:10px
}
.label-count {
	white-space:nowrap;
	padding-right:3px;
	margin-left:-3px;
	color:#999
}
.label-count:hover {
	color:#008dc3
}
#sidebar-css .label-size {
	position:relative;
	border:0;
	display:block;
	float:left;
	color:#fff;
	font-size:12px;
	margin:0 4px 4px 0
}
#sidebar-css .label-size a {
	margin:2px;
	width:110px;
	float:left;
	border-radius:3px;
	background:#4caf50;
	display:inline-block;
	color:#fff;
	box-shadow:0 2px 3px rgba(0,0,0,0.14)
}
#sidebar-css .label-size a:hover {
	background:#388e3c;
	color:#fff
}
#sidebar-css .label-size a:before,#sidebar-css .label-size span::before {
	font-family:'FontAwesome';
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	content:"\f02b";
	float:left;
	margin:0 6px 0 0;
	display:block!important;
	opacity:.6
}
#sidebar-css .label-size a:hover:before,#sidebar-css .label-size span:hover::before {
	border-color:transparent #008dc3 transparent transparent
}
#sidebar-css .label-size a:hover,#sidebar-css .label-size span::hover {
	background:#008dc3
}
#footer-bottom ul {
	list-style:none;
	padding:0
}
.Label li {
	margin:0;
	display:block;
	transition:all .3s ease-out;
	padding:0 20px;
	height:45px;
	line-height:45px;
	border-bottom:1px solid #ddd
}
.Label li a:before {
	font-family:FontAwesome;
	font-style:normal;
	font-weight:400;
	content:"\f02b";
	padding:10px;
	border-radius:100%;
	background:#eee;
	margin-right:15px;
	color:#777;
	font-size:14px
}
.Label li a {
	color:#222
}
.Label li a:hover {
	color:#000
}
.Label li:hover {
	background:#fbfbfb
}
.widget-content.list-label-widget-content {
	background:#fff;
	box-shadow:0 2px 5px 0 rgba(0,0,0,0.16),0 2px 5px 0 rgba(0,0,0,0.12)
}
.toggleMenu {
	float:left;
	padding:12px 14px;
	margin-top:5px;
	margin-right:10px;
	margin-left:20px;
	font-size:20px;
	color:#fff!important;
	border-radius:100%
}
#css-menu {
	position:fixed;
	top:60px;
	width:14.5%;
	left:0;
	z-index:10;
	background:#fff;
	height:100%;
	transition:all .4s ease-in-out;
	box-shadow:0 2px 5px 0 rgba(0,0,0,.12),0 2px 10px 0 rgba(0,0,0,.09)
}
a.blanter-back {
	position:inherit!important;
	width:20px;
	height:20px;
	padding:13px;
	z-index:99
}
#cssmenu,#cssmenu ul {
	margin:0;
	padding:0;
	border:0;
	list-style:none;
	font-weight:400;
	text-decoration:none;
	line-height:1;
	font-family:'Roboto',sans-serif;
	font-size:14px;
	position:relative;
	text-align:left
}
#cssmenu a {
	line-height:1.3;
	padding:12px 15px
}
#cssmenu ul li {
	cursor:pointer;
	background:#fff
}
#cssmenu ul li a {
	font-size:13.5px;
	display:block;
	color:#777;
	background:#fff;
	padding:12px 15px;
	margin:3px 10px 3px 0;
	font-weight:500;
	border-top-right-radius:20px;
	border-bottom-right-radius:20px
}
#cssmenu ul li a:hover {
	text-decoration:none;
	background:#eee
}
#cssmenu ul li.active,#cssmenu ul li.active a {
	background:#eee
}
#cssmenu ul li.home a:hover {
	background:#fff
}
#sidebar-css h2:hover {
	color:#fff
}
#cssmenu ul li.home {
	background:#fff;
	overflow:hidden;
	color:#444;
	font-size:18px;
	font-weight:700;
	padding:0;
	display:block;
	border-bottom:1px solid #eee
}
#cssmenu ul li.has-sub>a:after {
	content:'\f105';
	font-family:FontAwesome;
	float:right
}
#cssmenu ul li.has-sub.active>a:after {
	content:'\f107';
	font-family:FontAwesome;
	float:right
}
#cssmenu ul ul {
	padding:0;
	display:none;
	background:#eee
}
#cssmenu ul ul li a {
	color:#777;
	margin:0;
	border-radius:0;
	font-weight:400;
	padding:10px 10px 10px 48px;
	background:#eee
}
#cssmenu ul ul li a:hover {
	background:#ddd
}
#css-menu.slide {
	left:-340px
}
#content-wrapper.slide {
	padding-left:0
}
#css-menu.disable {
	left:0!important
}
#css-menu h3,#css-menu p {
	padding:0;
	margin:0
}
#navmenu2 li i {
	float:left;
	margin-right:10px;
	font-size:18px
}
#css-menu .profilemenu {
	padding:20px 15px 10px;
	height:105px;
	background:#eee url(https://2.bp.blogspot.com/-mSuNfO8orf4/WVT7CZ7s18I/AAAAAAAAGj0/sBqJmU0AQnovb-wtAO_ImWRN3dY45A50ACLcBGAs/s1600/MasignAlphaSteelcoders.png)repeat;
	color:#444;
	line-height:1.9;
	z-index:10;
	background-size:100%
}
#css-menu h3 {
	font-size:13px;
	font-weight:700;
	color:#222
}
#css-menu p {
	font-size:12px
}
#css-menu img {
	width:50px;
	height:50px;
	border-radius:100%
}
#info2 {
	float:right;
	border-radius:100%;
	padding:5px!important;
	height:24px;
	margin-top:-3px;
	color:#666
}
#nav-menu1 {
	visibility:hidden;
	position:absolute!important;
	background:#fff;
	list-style:none;
	width:100%;
	height:0;
	transition:all .7s ease-in-out;
	z-index:9;
	overflow:hidden;
	left:-200px;
	opacity:0
}
#nav-menu1 li {
	width:100%
}
#closedrop {
	font-size:18px;
	position:absolute;
	top:10px;
	right:10px;
	color:#fff
}
#nav-menu1 li a {
	padding:12px 17px!important;
	width:100%;
	font-weight:300;
	color:#666
}
#nav-menu1 li a:hover {
	background:#e1e1e1
}
#navmenu2 {
	transition:all .4s ease-in-out
}
#nav-menu1.shows {
	visibility:visible;
	height:auto;
	left:0;
	opacity:1
}
#navmenu2.shows {
	visibility:hidden;
	margin-left:-20px;
	opacity:0
}
.post {
	margin:0;
	padding:0;
	background:#fff;
	position:relative
}
.post-thumbnail {
	float:right;
	margin:0;
	padding:0
}
.post h1 {
	margin:0 0 20px;
	color:#444;
	padding:10px 0;
	font-size:150%;
	text-align:left;
	line-height:1.2em;
	font-weight:500;
	font-family:'Roboto',Arial,Sans-Serif
}
.post h1 a {
	color:#333
}
.post-body {
	line-height:1.8em;
	color:#555;
	font-size:100%;
	padding:0 10px;
	width:auto!important
}
.post-body blockquote {
	line-height:1.3em
}
.post img {
	max-width:100%;
	height:auto;
	color:#ddd
}
.separator {
	float:none;
	max-width:100%;
	height:auto;
	width:auto;
	margin:0 auto
}
.separator img {
	max-width:100%;
	height:auto;
	width:auto;
	margin:0;
	padding:0
}
#sharelabel {
	background:#deedf8;
	padding:10px 15px;
	margin:0
}
#wrap-label {
	margin:0;
	padding:0;
	background:#292e34
}
.post-body a {
	color:#4caf50
}
.labelpost {
	margin:0;
	padding:0;
	position:relative
}
.labelpost a {
	background-color:#397eae;
	color:#eee;
	padding:5px 10px;
	margin-right:3px;
	font-weight:400;
	font-size:12px;
	border-radius:3px
}
.labelpost a:hover {
	opacity:.7
}
.infopost {
	margin:0;
	padding:0
}
.postheader {
	margin-top:20px;
	padding:0;
	overflow:hidden
}
.post-info {
	padding:10px 15px;
	margin:0;
	color:#555;
	border-top:1px solid #ddd;
	border-bottom:1px solid #ddd;
	line-height:1.6em;
	font-size:13px;
	overflow:hidden
}
.post-info i {
	padding-right:5px
}
.post-info a {
	color:#444!important
}
.time-publish,.comments-publish {
	text-align:center
}
#sidebar1,#sidebar2,#sidebar3,#sidebar4,#sidebar6,#sidebar7 {
	margin:0 auto;
	overflow:hidden;
	padding:0;
	margin-bottom:20px
}
#sidebar-css a:link,#sidebar-css a:visited,#sidebar-css a:active {
	font-size:100%;
	text-decoration:none;
	font-weight:400
}
#sidebar-css h2 {
	color:#fff;
	text-transform:uppercase;
	font-family:'Roboto',Arial,sans-serif;
	font-size:16px;
	font-weight:700;
	position:relative;
	margin:0 0 10px;
	padding:15px;
	text-align:center;
	background:#4caf50;
	border:1px solid #ddd;
	border-left:0;
	border-right:0;
	border-radius:20px 20px 0 0
}
#sidebar1 .widget-content {
	padding:10px;
	overflow:hidden
}
#sidebar1 .widget {
	background:#fff;
	margin-bottom:15px
}
.item-snippet,.blanter-back {
	display:none
}
.PopularPosts .item-thumbnail {
	float:left;
	margin:0
}
#PopularPosts1 h2,#PopularPosts2 h2 {
	margin:0
}
.PopularPosts .popular-posts ul li {
	background:#fff;
	list-style:none;
	overflow:hidden;
	margin:0
}
#PopularPosts1 .popular-posts,#PopularPosts2 .popular-posts {
	position:relative
}
.PopularPosts ul {
	counter-reset:trackit
}
.PopularPosts .popular-posts ul li .item-content {
	counter-increment:trackit
}
div.item-thumbnail-only {
	counter-increment:trackit
}
.PopularPosts .popular-posts ul li a {
	color:#666;
	transition:all .3s;
	font-size:12px!important;
	font-family:'Roboto',Arial;
	font-weight:500!important
}
.PopularPosts .popular-posts ul li a:hover {
	color:#4caf50
}
.PopularPosts .item-title {
	display:table-cell;
	vertical-align:middle;
	line-height:normal;
	text-overflow:ellipsis;
	padding:0 10px
}
.PopularPosts .item-thumbnail img {
	display:block;
	float:left;
	border-radius:100%;
	width:60px;
	height:auto;
	padding:0
}
.popular-posts ul {
	padding-left:0
}
#PopularPosts2 .widget-content {
	margin:auto
}
#sidebar2 .widget-content {
	margin-top:7px;
	color:#fff
}
#sidebar2 ul {
	font-size:100%!important;
	list-style:none;
	margin:0;
	padding:0 10px 10px
}
#sidebar2 li {
	font-size:100%!important;
	margin:0;
	padding:0 0 .25em;
	line-height:18px;
	color:#aaa;
	font-weight:400
}
#sidebar2 ul li {
	padding-top:10px;
	padding-bottom:10px
}
#sidebar2 ul li:last-child {
	border-bottom:none
}
#blog-pager .pageicon {
	font-size:200%;
	line-height:16px;
	padding-bottom:5px
}
#blog-pager {
	width:100%;
	font-family:'Roboto',Arial
}
#blog-pager a,.showpagePoint {
	padding:8px 15px;
	font-family:'Roboto',Arial
}
#blog-pager {
	line-height:normal;
	font-size:13px;
	font-weight:400
}
.blog-pager,#blog-pager {
	margin:20px 0 25px;
	clear:both;
	text-align:left
}
.showpageOf {
	background:#fff;
	display:inline-block;
	font-size:11px;
	vertical-align:top;
	padding:7px 12px;
	line-height:20px;
	font-weight:400;
	border-radius:4px;
	border:1px solid #4caf50;
	color:#4caf50;
	text-transform:uppercase;
	margin-right:5px
}
.showpage a,.showpageNum a,.showpagePoint {
	display:inline-block;
	vertical-align:top;
	line-height:20px;
	border-radius:3px;
	margin:0;
	margin-left:5px;
	font-size:13px;
	text-align:center;
	font-weight:700;
	color:#fff;
	background:#4caf50;
	transition:all .3s ease-in-out
}
.showpagePoint {
	background:#388e3c;
	color:#fff
}
.showpage a:hover,.showpageNum a:hover {
	background-color:#388e3c;
	color:#fff;
	transition:all .3s ease-in-out
}
blockquote {
	background:#388e3c!important;
	overflow:hidden;
	position:relative;
	margin:.5rem 0 1rem;
	transition:box-shadow .25s;
	border-radius:2px;
	color:#fff;
	box-shadow:0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
	padding:9px 16px 16px 16px;
	text-shadow:1px 1px 2px #000;
	border-radius:7px 7px 0px 0px
}
blockquote a {
	text-shadow:1px 1px 3px #000;
	color:#ff0000;
}
.post h3 {
	background:#eee;
	border-top:1px solid #006400;
	border-bottom:1px solid #006400;
	text-align:left;
	text-shadow:1px 1px 3px #fff;
	box-sizing:border-box;
	color:#006400;
	font-family:Raleway,sans-serif;
	font-size:16px;
	line-height:1.5;
	margin-bottom:4px;
	padding-left:3px;
	padding-right:3px
}
.colorbox {
	overflow:hidden;
	position:relative;
	margin:.5rem 0 1rem;
	transition:box-shadow .25s;
	border-radius:2px;
	color:#fff;
	box-shadow:0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
	padding:20px
}
.colorbox.blue {
	background:#388e3c
}
.colorbox.green {
	background:#4CAF50
}
.colorbox.red {
	background:#F44336
}
.colorbox.orange {
	background:#ff9800
}
#footer {
	background:#222;
	width:100%;
	font-weight:400
}
#footer a {
	color:#999
}
#footer a:hover {
	color:#ccc
}
#footer-bottom {
	background:#fff;
	display:block;
	margin:0 auto;
	max-width:100%;
	width:100%;
	text-align:center;
	overflow:hidden;
	box-shadow:0 2px 2px 0 rgba(0,0,0,.05),0 3px 1px -2px rgba(0,0,0,.08),0 1px 5px 0 rgba(0,0,0,.08);
	border-radius:5px;
	padding-bottom:40px
}
#footer-bottom a {
	color:#555
}
#footer-bottom a:hover {
	color:#000
}
#footer-bottom #footer-logo {
	display:block;
	margin-bottom:20px;
	max-height:50px;
	-webkit-border-radius:0;
	border-radius:0
}
#footer-bottom #copyright {
	color:#555;
	font-weight:500;
	font-size:11px;
	text-transform:uppercase;
	line-height:1.5em;
	letter-spacing:.5px
}
#footer-bottom .social-links {
	padding-top:10px
}
#footer-bottom .social-links a {
	color:rgba(255,255,255,.6)
}
#footer-bottom .social-links .social-tooltip {
	font-size:28px
}
.container {
	width:1200px;
	max-width:100%;
	margin:0 auto;
	position:relative
}
.group:before,.group:after {
	content:"";
	display:table
}
.group:after {
	clear:both
}
.group {
	zoom:1
}
.pad.post-content,.pad.format-container {
	padding-left:40px;
	padding-right:40px
}
.grid {
	margin-right:3.2%;
	float:left;
	display:inline;
	position:relative
}
.one-half {
	font-family:'Roboto',sans-serif;
	width:100%;
	max-width:100%;
	padding:10px 0 20px 40px;
	padding-bottom:10px;
	text-align:center
}
.last {
	clear:right;
	margin-right:0!important
}
.post-comment-link {
	visibility:hidden
}
.largebanner .widget {
	padding:15px;
	transition:all .5s ease 0
}
.largebanner img,.largebanner iframe {
	display:block;
	max-width:100%;
	border:none;
	overflow:hidden
}
kbd {
	display:inline-block;
	border:1px solid #ccc;
	border-radius:4px;
	padding:.1em .5em;
	margin:0 .2em;
	box-shadow:0 1px 0 rgba(0,0,0,.2),0 0 0 2px #fff inset;
	background-color:#f7f7f7
}
.widget .post-body ul,.widget .post-body ol {
	line-height:1.5;
	font-weight:400
}
.widget .post-body li {
	padding:10px 5px;
	line-height:1.5
}
.alert-message {
	position:relative;
	display:block;
	background-color:#f7f8fa;
	padding:20px;
	margin:20px 0;
	border-radius:2px;
	color:#39484d
}
.alert-message p {
	margin:0!important;
	padding:0;
	line-height:22px;
	font-size:13px;
	color:#39484d
}
.alert-message span {
	font-size:14px!important
}
.alert-message i {
	font-size:22px;
	text-align:left;
	display:inline-block;
	position:absolute;
	right:0;
	top:0;
	padding:20px;
	opacity:.8
}
.alert-message.success {
	background-color:#00acd6;
	color:#fff
}
.alert-message.success a,.alert-message.success span {
	color:#fff
}
.alert-message.alert {
	background-color:#0073b7;
	color:#fff
}
.alert-message.alert a,.alert-message.alert span {
	color:#fff
}
.alert-message.warning {
	background-color:#efa666;
	color:#fff
}
.alert-message.warning a,.alert-message.warning span {
	color:#fff
}
.alert-message.error {
	background-color:#f56c7e;
	color:#fff
}
.alert-message.error a,.alert-message.error span {
	color:#fff
}
.fa-check-circle:before {
	content:"\f058"
}
.fa-info-circle:before {
	content:"\f05a"
}
.fa-exclamation-triangle:before {
	content:"\f071"
}
.footerbanner {
	padding:15px 0;
	width:100%;
	max-width:970px;
	margin:0 auto
}
.footerbanner img,.footerbanner iframe {
	display:block;
	max-width:100%;
	height:auto;
	border:none;
	overflow:hidden
}
.banner-header {
	margin:0 auto;
	padding:15px;
	width:100%;
	margin-bottom:20px;
	max-width:970px;
	transition:all .5s ease 0;
	float:none
}
.banner-header img,.banner-header iframe {
	display:block;
	max-width:100%;
	height:auto;
	border:none;
	overflow:hidden
}
.post-body table th,.post-body table caption {
	border-bottom:1px solid #ddd;
	padding:10px;
	text-align:left;
	vertical-align:top
}
.post-body table.tr-caption-container {
	border:1px solid #eee
}
.post-body th {
	font-weight:700
}
.post-body table caption {
	border:none;
	font-style:italic
}
.post-body td,.post-body th {
	vertical-align:top;
	text-align:left;
	font-size:13px;
	padding:3px 5px
}
.post-body th {
	background:#fafafa
}
.post-body table.tr-caption-container td {
	border:none;
	padding:8px
}
.post-body table.tr-caption-container,.post-body table.tr-caption-container img {
	max-width:100%;
	height:auto
}
.post-body td.tr-caption {
	color:#666;
	font-size:80%;
}
img {
	max-width:100%;
	height:auto;
	border:none
}
table {
	max-width:100%;
	width:100%;
	margin:1.5em auto
}
table.section-columns td.first.columns-cell {
	border-left:none
}
table.section-columns {
	border:none;
	table-layout:fixed;
	width:100%;
	position:relative
}
table.columns-2 td.columns-cell {
	width:50%
}
table.columns-3 td.columns-cell {
	width:33.33%
}
table.columns-4 td.columns-cell {
	width:25%
}
table.section-columns td.columns-cell {
	vertical-align:top
}
table.tr-caption-container {
	padding:4px;
	margin-bottom:.5em
}
td.tr-caption {
	font-size:80%
}
.pagenav {
	display:inline-block;
	width:92.7%;
	position:relative;
	clear:both;
	margin:20px 0 0;
	padding:20px;
	text-align:center
}
.pagenav span,.pagenav a {
	display:inline-block;
	border-radius:3px;
	vertical-align:top;
	color:#454545;
	line-height:20px;
	padding:6px 12px;
	margin:0 2px;
	font-size:14px;
	text-align:center;
	transition:initial;
	transition:all .5s ease-in-out
}
.pagenav .pages {
	background-color:transparent;
	color:#666;
	font-weight:400;
	text-transform:uppercase;
	font-size:11px
}
.pagenav .current {
	background-color:#4caf50;
	color:#fff;
	border-color:#4caf50
}
.pagenext {
	font-size:200%!important;
	line-height:26px!important;
	width:30px;
	padding:0!important;
	height:30px
}
.adsbanner {
	width:100%;
	max-width:670px;
	margin-bottom:20px
}
#BackToTop {
	overflow:hidden;
	position:fixed;
	transform:scale(0);
	z-index:90;
	right:30px;
	bottom:31px;
	box-shadow:0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
	width:55px;
	height:55px;
	color:#fff;
	text-align:center;
	background-color:#4caf50;
	font-size:22px;
	line-height:52px;
	cursor:pointer;
	border-radius:100%;
	transition:all .2s ease-in-out
}
#BackToTop:hover {
	transform:scale(1.1)!important
}
#BackToTop.active {
	transform:scale(1)
}
img.authoravatar {
	width:35px!important;
	height:35px!important;
	border-radius:100%;
	float:left;
	margin-right:15px
}
#material-subscribe {
	padding:0 15px;
	background:#fff
}
.buttonx {
	background:#4caf50;
	color:#fff!important;
	padding:12px 25px;
	text-transform:uppercase;
	border-radius:4px;
	border:none;
	outline:none;
	box-shadow:0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
	cursor:pointer;
	transition:all .3s ease-in-out!important;
	font-weight:700;
	font-family:'Roboto'
}
.buttonx:hover {
	box-shadow:0 5px 11px 0 rgba(0,0,0,0.18),0 4px 15px 0 rgba(0,0,0,0.15)
}
.buttonx.subs {
	background:#4caf50;
	padding:10px 18px
}
.post-body .buttonx {
	margin-right:7px
}
.input-field .buttonx {
	margin-top:15px
}
.input-field .buttonx i {
	margin-right:5px
}
.input-field {
	position:relative;
	margin:15px 0
}
.input-field input,.input-field textarea {
	font-size:15px;
	padding:15px 0;
	display:block;
	width:100%;
	border:none;
	border-bottom:1px solid #ddd
}
.input-field input:focus,.input-field textarea:focus {
	outline:none
}
.input-field label {
	color:#999;
	font-size:14px;
	font-weight:400;
	position:absolute;
	pointer-events:none;
	left:0;
	top:18px;
	transition:.2s ease all
}
.input-field input:focus ~ label,.input-field input:valid ~ label,.input-field textarea:focus ~ label,.input-field textarea:valid ~ label {
	top:-20px;
	font-size:14px;
	color:#07ACEC
}
#notif-license span {
	font-size:40px
}
#notif-license {
	display:none;
	position:fixed
}
.bar {
	position:relative;
	display:block;
	width:100%
}
.bar:before,.bar:after {
	content:'';
	height:2px;
	width:0;
	bottom:1px;
	position:absolute;
	background:#07ACEC;
	transition:.2s ease all
}
.bar:before {
	left:50%
}
.bar:after {
	right:50%
}
.input-field input:focus ~ .bar:before,.input-field input:focus ~ .bar:after,.input-field textarea:focus ~ .bar:before,.input-field textarea:focus ~ .bar:after {
	width:50%
}
.indigox {
	background:#3f51b5
}
.orangex {
	background:#ff9800
}
.pinkx {
	background:#e91e63
}
.bluex {
	background:#4caf50
}
.purplex {
	background:#9c27b0
}
.redx {
	background:#F44336
}
.greenx {
	background:#4CAF50
}
.highlight {
	position:absolute;
	height:50%;
	width:100px;
	top:25%;
	left:0;
	pointer-events:none;
	opacity:.5
}
.input-field input:focus ~ .highlight,.input-field textarea:focus ~ .highlight {
	animation:inputHighlighter .3s ease
}
.input-field input:focus ~ label,.input-field input:valid ~ label,.input-field textarea:focus ~ label,.input-field textarea:valid ~ label {
	top:-20px;
	font-size:13px;
	color:#07ACEC
}
#ContactForm1,#ContactForm1 br {
	display:none
}
.waves-effect {
	position:relative;
	cursor:pointer;
	display:inline-block;
	overflow:hidden;
	-webkit-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	user-select:none;
	-webkit-tap-highlight-color:transparent;
	vertical-align:middle;
	z-index:1;
	will-change:opacity,transform;
	-webkit-transition:all .3s ease-out;
	-moz-transition:all .1s ease-out;
	-o-transition:all .1s ease-out;
	-ms-transition:all .1s ease-out;
	transition:all .1s ease-out
}
.waves-effect .waves-ripple {
	position:absolute;
	border-radius:50%;
	width:20px;
	height:20px;
	margin-top:-10px;
	margin-left:-10px;
	opacity:0;
	background:rgba(0,0,0,0.2);
	-webkit-transition:all .1s ease-out;
	-moz-transition:all .1s ease-out;
	-o-transition:all .1s ease-out;
	-ms-transition:all .1s ease-out;
	transition:all .1s ease-out;
	-webkit-transition-property:-webkit-transform,opacity;
	-moz-transition-property:-moz-transform,opacity;
	-o-transition-property:-o-transform,opacity;
	transition-property:transform,opacity;
	-webkit-transform:scale(0);
	-moz-transform:scale(0);
	-ms-transform:scale(0);
	-o-transform:scale(0);
	transform:scale(0);
	pointer-events:none
}
.waves-effect.waves-light .waves-ripple {
	background-color:rgba(255,255,255,0.45)
}
.waves-effect.waves-red .waves-ripple {
	background-color:rgba(244,67,54,0.7)
}
.waves-effect.waves-yellow .waves-ripple {
	background-color:rgba(255,235,59,0.7)
}
.waves-effect.waves-orange .waves-ripple {
	background-color:rgba(255,152,0,0.7)
}
.waves-effect.waves-purple .waves-ripple {
	background-color:rgba(156,39,176,0.7)
}
.waves-effect.waves-green .waves-ripple {
	background-color:rgba(76,175,80,0.7)
}
.waves-effect.waves-teal .waves-ripple {
	background-color:rgba(0,150,136,0.7)
}
.waves-notransition {
	-webkit-transition:none!important;
	-moz-transition:none!important;
	-o-transition:none!important;
	-ms-transition:none!important;
	transition:none!important
}
.waves-circle {
	-webkit-transform:translateZ(0);
	-moz-transform:translateZ(0);
	-ms-transform:translateZ(0);
	-o-transform:translateZ(0);
	transform:translateZ(0);
	-webkit-mask-image:-webkit-radial-gradient(circle,white 100%,black 100%)
}
.waves-input-wrapper {
	border-radius:.2em;
	vertical-align:bottom;
	width:100%
}
.waves-input-wrapper .waves-button-input {
	position:relative;
	top:0;
	left:0;
	z-index:1
}
.waves-circle {
	text-align:center;
	width:2.5em;
	height:2.5em;
	line-height:2.5em;
	border-radius:50%;
	-webkit-mask-image:none
}
.waves-block {
	display:block
}
a.waves-effect .waves-ripple {
	z-index:-1
}
.ripple {
	display:inline-block;
	text-decoration:none;
	overflow:hidden;
	position:relative;
	z-index:0
}
.ink {
	display:block;
	position:absolute;
	background:rgba(255,255,255,0.4);
	border-radius:100%;
	-webkit-transform:scale(0);
	-moz-transform:scale(0);
	-o-transform:scale(0);
	transform:scale(0)
}
.animate {
	-webkit-animation:ripple .55s linear;
	-moz-animation:ripple .55s linear;
	-ms-animation:ripple .55s linear;
	-o-animation:ripple .55s linear;
	animation:ripple .55s linear
}
@-webkit-keyframes ripple {
	100% {
		opacity:0;
		-webkit-transform:scale(2.5)
	}
}
@-moz-keyframes ripple {
	100% {
		opacity:0;
		-moz-transform:scale(2.5)
	}
}
@-o-keyframes ripple {
	100% {
		opacity:0;
		-o-transform:scale(2.5)
	}
}
@keyframes ripple {
	100% {
		opacity:0;
		transform:scale(2.5)
	}
}
.tabs ul {
	list-style:none;
	padding:0;
	margin:0
}
.tab h2 {
	font-size:12px;
	font-weight:700;
	padding:5px 15px;
	display:block;
	line-height:37px;
	transition:All .4s ease-out
}
.tab h2:hover {
	border-bottom-color:#4caf50
}
.tabs .widget {
	border:none!important
}
.tabs,.tab {
	margin:0;
	overflow:hidden;
	border-radius:5px
}
.tabs .tab {
	padding:0
}
.tabs-menu {
	padding:0;
	margin:0;
	margin-bottom:0;
	box-shadow:0 0 0 1px #D3D3D3
}
.tabs-menu li {
	margin-bottom:0;
	margin-top:0;
	font-size:12px;
	font-weight:500;
	line-height:37px;
	width:50%;
	list-style:none;
	text-align:center;
	display:inline-block;
	padding:5px 0;
	background:#f7f7f7;
	color:#666;
	border-bottom:2px solid #f7f7f7;
	cursor:pointer;
	position:relative;
	transition:all .1s ease-out
}
.tabs-menu li:last-child {
	border-right:0
}
.tabs-menu li span {
	margin-left:2px;
	font-size:11px;
	letter-spacing:.7px;
	text-transform:uppercase;
	font-family:'Roboto',Arial
}
.tabs-menu .active-tab {
	background:#ff0000;
	border-color:#388e3c;
	transition:all .5s ease-in-out;
	color:#fff
}
.tabs-content {
	padding:10px;
	background:#fff;
	border-top:none;
	margin-bottom:15px
}
.tabs-content .sidebar li {
	margin:0;
	padding:0
}
.tabs-content .widget li {
	background:#fff;
	color:#333;
	float:none!important;
	padding:0 20px
}
.tabs-content .widget ul {
	background:#fff;
	color:#333;
	overflow:visible
}
#showsearch {
	display:none;
	padding:15px!important;
	font-size:18px!important;
	position:absolute;
	top:3px;
	right:40px
}
#cse-search-box.shows {
	left:3px;
	opacity:1;
	box-shadow:0 3px 4px 0 rgba(0,0,0,0.08),0 2px 7px 0 rgba(0,0,0,0.08),0 3px 2px -3px rgba(0,0,0,0.09)
}
@media screen and (max-width:1580px) {
	.menux li {
		display:inline-block
	}
	#share-this a {
		padding:10px 14px 8px
	}
}
@media screen and (max-width:1200px) {
	#css-menu {
		left:-340px;
		width:220px
	}
	#css-menu.slide {
		left:0
	}
	#content-wrapper {
		padding-left:0
	}
}
@media screen and (max-width:1060px) {
	#sidebar-css {
		width:285px
	}
	#content-wrapper {
		margin:5px!important;
		padding-left:0
	}
	a.blanter {
		display:none
	}
	#search-box {
		width:70%
	}
}
@media screen and (max-width:880px) {
	#main-wrapper {
		float:none!important;
		width:100%
	}
	#main-nav .menu,#main-nav .menu li {
		width:100%
	}
	#main-nav {
		display:none
	}
	#menu-mob {
		display:block
	}
	#share-this a {
		padding:10px 14px 8px
	}
}
@media screen and (max-width:768px) {
	.buttonx {
		display:inline-block;
		margin:5px 0
	}
	.blanter-icons {
		right:16px;
		left:initial!important
	}
	#BackToTop {
		bottom:20px;
		right:20px;
		width:45px;
		height:45px;
		line-height:43px
	}
	.banner-header {
		padding:15px 0
	}
	.one-half {
		padding:10px 0
	}
	#sidebar-css {
		width:95%;
		position:relative
	}
	#cse-search-box .material-icons {
		color:#444
	}
	#search-box input[type="text"] {
		padding-left:40px!important;
		color:#444
	}
	#cse-search-box .fa-arrow-left {
		top:0;
		left:0;
		padding:10px 15px;
		cursor:pointer;
		z-index:99
	}
	#cse-search-box .fa-search {
		top:10px;
		right:20px;
		left:initial
	}
	.post-author,.time-publish,.comments-publish {
		padding:5px
	}
	.idb-pager li a {
		padding:0
	}
	ul.idb-pager {
		padding:5px
	}
	#showmenu {
		position:absolute;
		top:0;
		right:0;
		margin:5px 0
	}
	.toggleMenu {
		margin:5px 0!important
	}
	#header-wrapper li a {
		width:100%;
		text-align:left;
		color:#fff
	}
	#header-wrapper li {
		width:100%
	}
	#cse-search-box {
		left:-400px;
		transition:all .7s ease-in-out;
		opacity:0;
		position:absolute;
		width:95%;
		background:#fff;
		border-color:#fff
	}
	#search-box {
		width:100%;
		top:-64px;
		left:2%;
		position:absolute;
		z-index:98;
		margin:-3px!important
	}
	.nav-menu2 {
		width:100%
	}
	#showsearch,#search-box .fa-arrow-left,.blanter-back {
		display:block
	}
	#header {
		width:190px;
		height:60px;
		overflow:hidden;
		float:none
	}
	a.show-more {
		margin:0
	}
	#sidebar-css {
		width:100%
	}
	#main-nav .menu,#main-nav .menu li {
		width:100%
	}
	.blog_social_block a i {
		font-size:13px;
		width:20px;
		height:20px
	}
	#main-nav,a.blanter {
		display:none
	}
	#share-this a {
		padding:10px 14px 8px
	}
	.click-comment,.pagenav .pages {
		display:none!important
	}
	.nav-menu2>li:hover>a {
		background:#fff
	}
}
@media screen and (max-width:684px) {
	.widget-content.list-label-widget-content {
		margin-right:50px!important
	}
	.comment_child .comment_wrap {
		padding-left:0!important
	}
	.comment_body {
		width:70%!important
	}
	.comment_admin .comment_body {
		width:60%!important
	}
	#material-subscribe {
		width:90%!important
	}
	.menux li {
		display:inline-block
	}
	#sidebar-css {
		width:100%
	}
	#main-nav .menu,#main-nav .menu li {
		width:100%
	}
	#main-nav {
		display:none
	}
	#share-this a {
		padding:10px 14px 8px
	}
	.spanshare {
		display:none
	}
}
@media screen and (max-width:600px) {
	.post-outer {
		max-width:100%!important
	}
	#sidebar-css {
		width:100%
	}
	#main-nav .menu,#main-nav .menu li {
		width:100%
	}
	#main-nav {
		display:none
	}
	#share-this a {
		padding:10px 14px 8px
	}
}
@media screen and (max-width:480px) {
	.buttonx.subs {
		width:100%
	}
	.comment_body {
		width:55%!important
	}
	.comment_admin .comment_body {
		width:50%!important
	}
	.share-post li a {
		width:40px!important
	}
	#share-this {
		margin:5px 10px
	}
	#share-this a {
		min-width:100%;
		padding:0;
		text-align:center!important;
		height:30px;
		line-height:35px;
		margin:0 auto 3px!important
	}
	#sidebar-css {
		width:100%
	}
	#nav-wrapper {
		margin-bottom:70px
	}
	#main-nav .menu,#main-nav .menu li {
		width:100%
	}
	#main-nav,#sidebar-blanter {
		display:none
	}
}
@media screen and (max-width:320px) {
	#sidebar-css {
		width:100%
	}
	#nav-wrapper {
		margin-bottom:75px
	}
	#main-nav .menu,#main-nav .menu li {
		width:100%
	}
	#main-nav,#sidebar-blanter {
		display:none
	}
}
@media screen and (max-width:240px) {
	#main-wrapper {
		float:none;
		width:100%
	}
	#sidebar-css {
		width:100%
	}
	#nav-wrapper {
		margin-bottom:80px
	}
	#main-nav .menu,#main-nav .menu li {
		width:100%
	}
	#main-nav,#sidebar-blanter {
		display: none
	}
}
